* {
  margin: 0 auto;
  padding: 0;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 210px;
  background: #000;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

.print {
  margin-top: 5px;
  margin-bottom: 5px;
  flex-direction: column;
}
