
  <span id="print-section">
    <app-name></app-name>
    <app-about></app-about>
    <app-skills></app-skills>
    <app-edu></app-edu>
    <app-exp></app-exp>
    <app-projects></app-projects>
    <button class="btn preview" type="button" (click)="toggleEditMode()">Превью</button>
  </span>
  <button printSectionId="print-section" ngxPrint class="btn print">Печать</button>
  <mat-dialog-actions>
    <button class="btn send" (click)="openDialog()">Отправить на почту</button>
  </mat-dialog-actions>

