* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  margin: 0 auto;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}
.head {
  margin-left: 15px;
}

.header {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
button {
  margin: 10px;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
}

textarea {
  margin: 15px;
  width: 33.3%;
  height: 60px;
}

.container {
  display: block;
}
