.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  border: black solid 3px;
  // display: flex;
  // justify-content: center;
  // max-width: 210mm;
  // max-height: 297mm;
}
