* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.area {
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  margin: 15px;
  width: 33.3%;
}

textarea {
  margin: 15px;
  width: 25%;
  text-align: left;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.head {
  margin-top: 15px;
}
//

h3 {
  padding-left: 15px;
}

ul {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
li {
  margin: 5px;
}
