<h2 class="head" *ngIf="!editMode">Блок Имя/Фамилия/Должность</h2>
<div class="area" *ngIf="!editMode">
    <input [(ngModel)]="name"  type="text"  [placeholder]="hint_name">
    <input  type="text" [(ngModel)]="surname" [placeholder]="hint_surname">
    <input  type="text" [(ngModel)]="position" [placeholder]="hint_position">
</div>
<!--  -->
<h3 *ngIf="editMode">{{name}} {{surname}} {{position}}</h3>
<!--  -->
<h2 *ngIf="!editMode">Блок связи с вами</h2>
<div class="area" *ngIf="!editMode">
    <textarea type="text" [(ngModel)]="mail" [placeholder]="hint_mail"></textarea>
    <textarea type="text" [(ngModel)]="phone" [placeholder]="hint_phone"></textarea>
    <textarea type="text" [(ngModel)]="telegram" [placeholder]="hint_telegram"></textarea>
    <textarea type="text" [(ngModel)]="location" [placeholder]="hint_location"></textarea>
</div>
<!--  -->
<ul *ngIf="editMode">
  <li>Почта: {{mail}}</li>
  <li>Телефон: {{phone}}</li>
  <li>Телеграм: {{telegram}}</li>
  <li>Местоположение: {{location}}</li>
</ul>
