<h2>Блок Имя/Фамилия/Должность</h2>
<div class="inputs">
    <input type="text" [value]="name" [placeholder]="hint_name">
    <input type="text" [value]="surname" [placeholder]="hint_surname">
    <input type="text" [value]="position" [placeholder]="hint_position">
</div>
<h2>Блок связи с вами</h2>
<div class="inputs">
    <textarea type="text" [value]="mail" [placeholder]="hint_mail"></textarea>
    <textarea type="text" [value]="phone" [placeholder]="hint_phone"></textarea>
    <textarea type="text" [value]="telegram" [placeholder]="hint_telegram"></textarea>
    <textarea type="text" [value]="location" [placeholder]="hint_location"></textarea>
</div>
